#page
{
    text-align: center;
}
#bt,#header1
{
    text-align: center;
}
/*#info2*/
/*{*/
/*    padding-left: 35%;*/
/*    float:left;*/
/*    text-align: center;*/
/*}*/
body
{
    text-align: center;
}
#next2
{
    display: inline-block;
}